

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
  display: none;
}

.smt-select-box{
  position: relative;
  width: 200px;
  padding: 0 5px;
  height: 38px;
  line-height: 36px;
  font-family: inherit;
  border: 1px solid #999;
  border-radius: 0;
  box-sizing: border-box;
}
.smt-select-box:after{
  position: absolute;
  top: 0;
  right: 5px;
  content: '▼';
  display: block;
  font-size: 10px;
}

.smt-select-box select{
  width: 100%;
  height: 100%;
  font-family: inherit;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}
.smt-select-box select:focus{
  outline: 0;
}

.smt-custom-select{
  display: none;
}

