
*{
  padding: 0;
  margin: 0;
}
html, body{
  width: 100%;
  height: 100%;
}
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
  display: none;
}
ul,li{
  list-style: none;
}

.ljc-select-box{
  top: 50%;
  left: 50%;
  margin: -19px 0 0 -100px;
}
.ljc-select-box:after{
  position: absolute;
  top: 50%;
  right: 5px;
  width: 10px;
  text-align: center;
  height: 10px;
  margin-top: -5px;
  content: '▼';
  display: block;
  font-size: 10px;
  z-index: 1;
}
.lcj-select-label{
  position: relative;
  min-height: 36px;
  box-sizing: border-box;
  padding: 8px 20px 8px 5px;
  line-height: 20px;
  white-space: normal;
  word-break: break-all;
  z-index: 2;
  font-family: inherit;
}
.lcj-select-list{
  position: absolute;
  left: -1px;
  right: -1px;
  top: auto;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #999;
  background-color: #fff;
  z-index: 10;
  box-sizing: border-box;
  cursor: pointer;
}
.lcj-select-list.list-top{
  top: auto;
  bottom: 36px;
}
.lcj-select-list li{
  padding: 0 10px;
  line-height: 30px;
  cursor: pointer;
}
.lcj-select-list li:hover{
  background-color: #efefef;
}

